<% content_for :title, "Toutes les équipes" %>

<div class="max-w-7xl mx-auto p-6">

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-3xl text-gray-800">Toutes les équipes</h1>
    <% if admin? %>
      <a href="/teams/new" class="rounded-md px-4 py-2 bg-yellow-400 hover:bg-yellow-500 text-black font-medium flex items-center transition duration-200">
        <i class="fas fa-plus pr-2"></i>
        Créer une équipe
      </a>
    <% end %>
  </div>

  <% if @teams.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @teams.each do |team| %>
        <%= link_to team_path(team), class: "block bg-white p-4 rounded-xl shadow hover:shadow-lg transition duration-200" do %>
          <div class="flex items-center space-x-4">
            <%= image_tag(team.logo.presence || "https://static.wikia.nocookie.net/leagueoflegends/images/0/04/Ionia_profileicon.png", class: "w-14 h-14 rounded-full object-cover") %>
            <div>
              <h2 class="text-lg font-semibold text-gray-800 mb-1">
                <%= team.name %>
              </h2>
              <p class="text-sm text-gray-500"><%= pluralize(team.players.count, "joueur") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-gray-500 mt-10">Aucune équipe trouvée.</p>
  <% end %>

</div>
