<% content_for :title, "Toutes les équipes" %>

<div class="max-w-7xl mx-auto p-6">

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Toutes les équipes</h1>
    <%= link_to "New team", new_team_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% if @teams.any? %>
      <% @teams.each do |team| %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="flex items-center p-4">
            <%= image_tag (team.logo.present? ? team.logo : "https://static.wikia.nocookie.net/leagueoflegends/images/0/04/Ionia_profileicon.png"), class: "w-16 h-16 rounded-full mr-4" %>            <h2 class="text-xl font-bold text-gray-800"><%= team.name %></h2>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No teams found.</p>
    <% end %>
  </div>
</div>