<% content_for :title, "Nouveau match" %>

<div class="max-w-7xl mx-auto p-6">
  <h1 class="font-bold text-4xl mb-6 text-center">Création d'un nouveau match</h1>

  <%= render "form", match: @match %>
</div>
