@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
}

p,
span,
li,
ol,
ul,
a,
input,
option,
select,
div {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}
